// FASTQC 
params.FASTQC_CPU = 4

// BISMARK ALIGNMENT
params.BismarkCores = 5

// BISMARK METHYLATION CALLING
params.MethExtractCores = 5

process {
    errorStrategy =  'ignore'
    maxRetries = 2

    withName: fastqc {
        cpus = 4
        memory = { 8.GB * task.attempt }
        publishDir = [
            path: "${params.OUTDIR}/FASTQC",
            mode: 'copy'
        ]
    }

    withName: multiqc {
        cpus = 4
        memory = { 8.GB * task.attempt }
        publishDir = [
            path: "${params.OUTDIR}/MULTIQC",
            mode: 'copy'
        ]
    }

    withName: trim_CutAdapt_AmpliconMethylUMI {
        cpus = 5
        memory = { 8.GB * task.attempt }
        maxForks = 1
        publishDir = [
            path: "${params.OUTDIR}/TRIM_CUTADAPT_MODIFIED_FASTQ",
            mode: 'copy'
        ]
    }

    withName: bismark_with_UMI {
        cpus = 10
        memory = { 16.GB * task.attempt }
        maxForks = 1
        publishDir = [
            path: "${params.OUTDIR}/BISMARK_ALIGNMENT_UNMAPPED_BAM",
            mode: 'copy'
        ]
    }

    withName: connor_UMI_process {
        cpus = 10
        memory = { 16.GB * task.attempt }
        maxForks = 1
        publishDir = [
            path: "${params.OUTDIR}/CONNOR_UMI_OUTPUT",
            mode: 'copy'
        ]
    }

    withName: main_bismark {
        cpus = 5
        memory = { 4.GB * task.attempt }
        maxForks = 1
        publishDir = [
            path: "${params.OUTDIR}/BISMARK_ALIGNMENT",
            mode: 'copy'
        ]
    }
    withName: bismark_methylation_extractor {
        cpus = 5
        memory = { 16.GB * task.attempt }
        maxForks = 1
        publishDir = [
            path: "${params.OUTDIR}/BISMARK_COV",
            mode: 'copy'
        ]
    }

}